body{
    background-color: #a1bcd1;
    margin:40px;
    padding:0;  
    background-image: url('recursos/nature-9006428_1280.jpg');
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
    height: 100vh;
    
}
header{
    background-color:#8fb0c9;
    color: #1a1a1a;
    padding: 0.002em 0; /*em --> it comes from the father container, in this case, body (by default 16 pixels) or rem (it does not com efrom the father container)forms of measuring */
    text-align: center;
     border-radius: 30px;
}
h1{
    font-size: 3em;
    margin: 10px;
    padding: 0;
    background-color: #8fb0c9; 
}
.nav-menu{
    list-style: none;
    background-color: #adc9de;
    margin: 10px;
    padding: 0;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    
}
.nav-menu li{
    margin: 25px 50px;
    padding: 0px;
    transition:  0.55s;
    border-radius: 10px;
}
.nav-menu li:hover{
    background-color: #92b6d2;
    font-size: 10px;
}  
.nav-menu a{
    text-decoration: none;
    color: #000000;
    display: inline-block;
    transition: background-color 0.3s;
    font-size: 17.2px;
}



    
