/*Paleta de colores 
Verde bosque	Títulos, acentos naturales	#2E8B57
Arena cálida	Fondo principal o secciones	#F4E1B3
Blanco suave	Fondo de texto	#FAFAFA
Gris piedra	Tipografía secundaria	#4A4A4A
Azul océano	Botones y enlaces	#0077B6 */

body{
    background-color: #F4E1B3;
    margin: 0;
    padding:0;  
}
.banner{
    width: 100%;
    height: 170px;
    overflow: hidden;
}
.banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cubre todo el espacio sin deformar */
    display: block;
    filter: brightness(0.8);
}
header{
    background-color:#F4E1B3;
    color: #4A4A4A;
    padding: 0.002em 0; /*em --> it comes from the father container, in this case, body (by default 16 pixels) or rem (it does not com efrom the father container)forms of measuring */
    text-align: center;
}
h1{
    font-size: 3em;
    margin: 0;
    padding: 0;
    background-color: #F4E1B3;
    color: #4A4A4A;
}
.nav-menu{
    list-style: none;
    background-color: #0077B699;
    margin: 0.60em;
    padding: 0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.nav-menu li{
    margin: 9px 38px;
    padding: 5px;
    transition:  0.55s;
    border-radius: 10px;
}
.nav-menu li:hover{
    background-color: #0077B6;
    font-size: 17.2px;
}  
.nav-menu a{
    text-decoration: none;
    color: #F4E1B3;
    display: inline-block;
    transition: background-color 0.3s;
}


